# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
      day: "wednesday"

  - package-ecosystem: "github-actions"
    directory: ".github/workflows/"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
      day: "wednesday"