on: [pull_request]

name: Dependabot

jobs:
  run_if:
    if:  startsWith(github.head_ref, 'dependabot/')
    name: Notify
    runs-on: ubuntu-latest
    steps:
      - name: Post to a Slack channel
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_CHANNEL_ID }}
            text: "New Dependabot PR: ${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
