on: [push]

name: CI

jobs:
  build_and_test:
    name: Test Rust
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Install latest stable
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: stable
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
      - run: cargo build --features="bin"
      - run: cargo test --features="serde" --features="json_schema"
      - run: cargo fmt --all --check
      - run: cargo clippy -- -Dwarnings
