on: [push]

name: CI

jobs:
  build_and_test:
    name: Test Rust
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Install latest stable
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: stable
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
      - run: cargo build --features="bin"
      - run: cargo test --features="serde" --features="json_schema"
      - run: cargo fmt --all --check
      - run: cargo clippy -- -Dwarnings
